<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Preferred working hour per day</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.preferred_working_hour_per_day %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>